.postEditorContainer {
    width: 600px;
    height: auto;
    padding: 20px;
    border-radius: 12px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

.postEditorContainer h1 {
    text-align: center;
}

.postEditorContainer label {
    font-size: 20px;
}

.postEditorContainer .inputGp {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.inputGroup input,
.inputGroup textarea {
    font-size: 18px;
    border: 1px solid lightgrey;
    border-radius: 2px;
    padding: 5px;
}

.inputGroup input {
    box-sizing: border-box;
    height: 40px;
    width: 100%;
}

.inputGroup textarea {
    box-sizing: border-box;
    height: 80px;
    width: 100%;
    resize: none;
}

.postEditorContainer button {
    margin-top: 20px;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

input,
textarea {
    margin-top: 5px;
}