.image-thumb {
	position: relative;
  width: 100%; /* set the desired width */
  height: 100%; /* set the desired height */
  overflow: hidden;
}

.image-thumb img {
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  object-fit: cover;
}

.image-thumb span {
  position: absolute;
  top: 0;
  left: 0;
}

.image-modal {
  position: relative;
	overflow: hidden;
	display: flex;
	justify-content: center;
}
