.App {
  text-align: center;
}

.titleImage {
  width: 100%;
  height: auto;
}

.InfoWindow {
  width: 200px;
}

.scrollPage {
  width: 100vw;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}